{% extends "main.html" %}

{% block overview %}
<div class="container-fluid">
  <div class="span6">
    {{daystamp}}
  
    <table class="table table-striped">
            <thead>
                    <tr>
                      <th>Title</th>
                      <th>Date</th>
                    </tr>
            </thead>
                  <tbody>
                {% for entry in entries %}
                    <tr>
                      <td>{{entry.jTitle}}</td>
                      <td>{{entry.date}}</td>
                      <td><a href="#" class="btn btn-info">View</a></td>
                    </tr>
                {% endfor %}
                  </tbody>
    </table>
  </div>
</div>

{% endblock overview %}

{% block journal %}
<div class="container-fluid">
  <div class="span6">
    {{datestamp}}
    <table class="table table-striped">
            <thead>
                    <tr>
                      <th>Title</th>
                      <th>Date</th>
                    </tr>
            </thead>
                  <tbody>
                {% for entry in entries %}
                    <tr>
                      <td>{{entry.jTitle}}</td>
                      <td>{{entry.date}}</td>
                      <td><a href="#" class="btn btn-info">View</a></td>
                    </tr>
                {% endfor %}
                  </tbody>
    </table>

  

  </div>

</div>

{% endblock journal %}